.one>h2{
    display: flex;
    background: blue;
    height: 500px;
    font-size: 40px; color:white;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    margin: 0;
}
.two { display: flex;
    height: 300px;
    justify-content: space-between;
    margin-top: 10px;

}
.two>div{width: 400px;height: 300px;
    display: flex;
    background: cadetblue;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 30px; color: white;
}
.tree>h2{display: flex;
    background: blue;
    height: 500px;
    font-family: Arial;
    font-size: 40px;color: white;
    justify-content: center;
    align-items: center;
margin-top: 10px
}
.father{margin: 10px}
body{width: 1250px}


