.father{
    border:2px solid black;
    height: 1000px;
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    margin: auto;

}
.one{height: 350px;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tree{height: 350px;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two{ display: flex;
    justify-content: space-between;


}
body{
    color: white;
    font-family: Bahnschrift;
    font-size: 40px;

}
.block{height: 250px;
width: 250px;
    background:blueviolet ;
    display:flex;
    justify-content: center;
    align-items: center;
}
.block:hover{background: chartreuse;

}